.main__container--button
  padding: 10px
  display: flex
  justify-content: end
  position: relative
  height: 56px
  .button-hover
    opacity: 0
    position: absolute
    top: 10px
    right: 10px
    width: 56px
    height: 56px
    border-radius: 12px
    background-color: rgba($md-sys-color-on-primary-container-light, 0.08)
    cursor: pointer
    &:hover
      opacity: 1
  .main__button
    width: 56px
    height: 56px
    border: none
    border-radius: 12px
    background-color: $md-sys-color-primary-container-light
    box-shadow: 0px 4px 8px 3px rgba(0, 0, 0, 0.15), 0px 1px 3px rgba(0, 0, 0, 0.3)
    &:hover
      box-shadow: 0px 6px 10px 4px rgba(0, 0, 0, 0.15), 0px 2px 3px rgba(0, 0, 0, 0.3)
  .container__button--icon
    position: absolute
    display: flex
    width: 56px
    height: 56px
    justify-content: center
    align-items: center
    .button--icon
      position: block
      width: 16px
      height: 16px
      background-size: cover
      background-repeat: no-repeat
      background-position: center
