.main
  padding: 0 16px
  font-family: 'Monstserrat-Regular'
  &__input
    width: calc(100% - 32px)
    margin-top: 24px
    margin-bottom: 24px
    padding: 16px
    border: 1px solid $md-sys-color-outline-light
    border-radius: 12px
    color: $md-sys-color-on-surface-variant-light
    &:hover
      border: 1px solid $md-sys-color-on-surface-light