.modal
  width: 100%
  height: 100%
  position: fixed
  z-index: 1
  top: 0
  left: 0
  right: 0
  bottom: 0
  display: flex
  justify-content: center
  align-items: center
  background: rgba($md-sys-color-on-primary-container-light , 0.16)
  font-family: 'FontRegular'
  &__container
    width: calc( 100% - 88px )
    padding: 24px
    display: flex
    flex-direction: column
    gap: 40px
    border-radius: 24px
    background-color: $md-sys-color-surface-container-light
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15)
    .modal__title
      font-size: $md-sys-typescale-headline-small-font-size
    .modal__form
      display: flex
      flex-direction: column
      gap: 24px
      &--description
        position: relative
        height: 56px
        .description__input
          width: calc( 100% - 3.2rem )
          padding: 1.6rem
          border: 1px solid $md-sys-color-outline-light
          border-radius: 12px
          font-family: 'FontRegular'
          font-size: $md-sys-typescale-body-large-font-size
          background-color: $md-sys-color-surface-container-light
          &:focus-visible
            outline: none
            border: 2px solid $md-sys-color-primary-light
        .description__label
          position: absolute
          padding: 2px 4px
          top: -8px
          left: 16px
          background-color: $md-sys-color-surface-container-light
          font-size: $md-sys-typescale-body-small-font-size
      &--date
        position: relative
        height: 56px
        .date__input
          width: calc( 100% - 3.2rem )
          padding: 1.6rem
          border: 1px solid $md-sys-color-outline-light
          border-radius: 12px
          font-family: 'FontRegular'
          font-size: $md-sys-typescale-body-large-font-size
          background-color: $md-sys-color-surface-container-light
          &:focus-visible
            outline: none
            border: 2px solid $md-sys-color-primary-light
        .date__label
          position: absolute
          padding: 2px 4px
          top: -8px
          left: 16px
          background-color: $md-sys-color-surface-container-light
          font-size: $md-sys-typescale-body-small-font-size
      &--list
        position: relative
        height: 56px
        .list__input
          width: calc( 100% - 3.2rem )
          padding: 1.6rem
          border: 1px solid $md-sys-color-outline-light
          border-radius: 12px
          font-family: 'FontRegular'
          font-size: $md-sys-typescale-body-large-font-size
          background-color: $md-sys-color-surface-container-light
          &:focus-visible
            outline: none
            border: 2px solid $md-sys-color-primary-light
        .list__label
          position: absolute
          padding: 2px 4px
          top: -8px
          left: 16px
          background-color: $md-sys-color-surface-container-high-light
          font-size: $md-sys-typescale-body-small-font-size
    .modal__container--buttons
      display: flex
      justify-content: end
      gap: 8px
      .modal__button--cancel
        position: relative
        display: flex
        justify-content: center
        align-items: center
        padding: 12px 24px
        margin-left: 8px
        border-radius: 12px
        border: none
        background-color: $md-sys-color-secondary-container-light
        color: $md-sys-color-on-secondary-container-light
        font-size: $md-sys-typescale-label-large-font-size
        cursor: pointer
        &:hover
          box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15)
        &:hover .state-layer
          opacity: 1
        .state-layer
          opacity: 0
          position: absolute
          width: 100%
          height: 100%
          border-radius: 12px
          background-color: rgba( $md-sys-color-on-secondary-container-light, 0.08 )
      .modal__button--added
        position: relative
        display: flex
        justify-content: center
        align-items: center
        padding: 12px 24px
        margin-left: 8px
        border-radius: 12px
        border: none
        background-color: $md-sys-color-primary-light
        color: $md-sys-color-on-primary-light
        font-size: $md-sys-typescale-label-large-font-size
        cursor: pointer
        &:hover
          box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15)
        &:hover .state-layer
          opacity: 1
        .state-layer
          opacity: 0
          position: absolute
          width: 100%
          height: 100%
          border-radius: 12px
          background-color: rgba( $md-sys-color-on-primary-light, 0.08 )

.list
  position: relative
  display: flex
  flex-direction: column
  background-color: $md-sys-color-surface-container-light
  border-radius: 12px
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 2px 6px 2px rgba(0, 0, 0, 0.15)
  z-index: 1
  transition: all 0.5s ease-in-out
  li
    padding: 1.6rem 0.8rem
    font-size: $md-sys-typescale-body-large-font-size
    cursor: pointer
    &:hover
      background-color: $md-sys-color-surface-container-highest-light
      border-radius: 12px

#inactive
  display: none

#error
  border: 2px solid $md-sys-color-error-light
  color: $md-sys-color-error-light