.progress__container
  width: calc( 100% - 3.2rem )
  height: 0.8rem
  padding: 2rem 1.6rem
  border-radius: 12px
  .progress__bar--container
    width: 100%
    height: 100%
    border-radius: 12px
    border: 1px solid $md-sys-color-outline-light
    .progress__bar
      height: 100%
      background-color: $md-sys-color-tertiary-container-light
      border-radius: 12px

.header .progress__container .progress__bar--container .progress__bar--completed
  background-color: $md-sys-color-on-tertiary-container-light
